<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div> &copy; Wanderlust Privated Limited</div>
        <div> Made with <i class="fa-solid fa-heart"></i> by <a href="https://krishnac.vercel.app/" target="_blank"
                style="text-decoration: none; color: inherit;">Krishna</a> </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="term">Terms</a>
        </div>
    </div>
</footer>