<% layout("layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      action="/listings"
      method="POST"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <br /><br />
      <h3>Create new listing</h3>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="Name your place"
          required
        />
        <div class="valid-feedback">Great title!</div>
        <div class="invalid-feedback">Title is required!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          placeholder="Describe what makes your place special"
          required
        ></textarea>
        <div class="valid-feedback">Clear and helpful!</div>
        <div class="invalid-feedback">Tell us something about your place!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label"
          >Choose a photo of your place</label
        >
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Image is required</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            name="listing[price]"
            class="form-control"
            placeholder="Set your price per night (INR)"
            required
          />
          <div class="valid-feedback">Price added!</div>
          <div class="invalid-feedback">Enter a valid number (e.g., 1500)</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            placeholder="Enter your country"
            required
          />
          <div class="valid-feedback">Country added!</div>
          <div class="invalid-feedback">Country is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          placeholder="Where’s your place?"
          required
        />
        <div class="valid-feedback">Location added!</div>
        <div class="invalid-feedback">Please enter where your place is</div>
      </div>

      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    <br /><br />
  </div>
</div>
